GOOGLE_CLIENT_ID=83606003580-ipar1dvi8vd0s7b2seshbpep26o49kj5.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
ANTHROPIC_API_KEY=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
JWT_SECRET=run_this_to_generate: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
SESSION_SECRET=another_random_string
FRONTEND_URL=http://localhost:5000